* {
    margin: 0;
    padding: 0;
}
.navbar {
    border: none;
    background-color: black;
    color: white;
}

h2{
    text-align: center;
    color: black;
}
.glyphicon{
	font-size: 30px;
	color:burlywood; 
}
.nav{
    text-align: center;
}
.container
{
	background-color: lightgrey;
    border-radius: 10px;
    border: black solid;
}
.text-center{
	font-size: 30px;
}
#myNavbar ul li a {
	color: #61122F;
}
.navbar-brand{
font-size: 30px;	
}
